@media (max-width:1180px){
    .about{
      width:100%;
      height:auto;
      padding: 60px 0px;

    }
}
@media (max-width:650px){
    #nav > li {
        display: block;
    }
    .hero{
        width:100%;
    }
    .text h2{
        font-size:46px;
        margin-bottom: 20px;
    }
    #content .menu-item {
        margin-top: 30px;
        width: 100%;
    }
    #content .menu-img {
        width: 60%;
    }
}